/* Sayfa Geçiş Sistemi - ATLAS İnteraktif */

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-very-slow), visibility var(--transition-very-slow);
}

.page.active {
    opacity: 1;
    visibility: visible;
}

